/* body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
} */

#main-section {
  display: flex;
  flex: wrap;
  margin-bottom: 100px;
}

.card-img-top {
  width: 280px;
  height: 205px;
}

.followers-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 14px;
}

.pack-img {
  width: 40px;
  height: 40px;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}
.repoAtt {
  padding: 8px;
}
footer {
  position: relative;
  margin-top: 50px;
  bottom: 0;
   width: 100%;
   background-color: rgb(62, 151, 210);
   color: black;
   text-align: center;
   
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  font-size: 1rem;
}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(150px , 1fr));
  gap: .25rem;
  margin-top: 1rem;
}

.project-card {
  border: 1px solid crimson;
  background-color: white;
  padding: .5rem;
}

.hide {
  display: none;
}