

#main-section {
  display: flex;
  flex: wrap;
  margin-bottom: 100px;
}

.card-img-top {
  width: 280px;
  height: 205px;
}

.followers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 14px;
}

.pack-img {
  width: 40px;
  height: 40px;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.numPad {
  margin-left: 5px;
}


.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

input {
  font-size: 1rem;
}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.25rem;
  margin-top: 1rem;
}

.project-card {
  border: 1px solid crimson;
  background-color: white;
  padding: 0.5rem;
}

.hide {
  display: none;
}

#fav-btn{
  height:10px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  height:10px;
  width: 10px;
  background-color: black;
  position: relative;
  outline: none;
  transform: rotate(45deg);
  -webkit-appearance: none;

}

input[type="checkbox"]:before{
  position: absolute;
  content: "";
  background-color: black;
  height: 60%;
  width: 100%;
  top: -59%;
  border-radius:75px 75px 0 0;
  outline-color: black;
  outline: 5px;
}

input[type="checkbox"]:after{
  position: absolute;
  content: "";
  background-color: black;
  height: 60%;
  width: 100%;
  transform: rotate(-90deg);
  border-radius:75px 75px 0 0;
  top: 20%;
  right: 79%;
}

input[type="checkbox"]:checked,
input:checked[type="checkbox"]:before,
input:checked[type="checkbox"]:after{
    background-color: red;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
 }

 .repoWrap {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  margin-left: 5px;
  justify-content: space-evenly;
 }

 .issues {
  text-align: center;
 }

 footer {
   
  width: 100%;
  margin-top: 50px;
  background-color: rgb(62, 151, 210);
  color: black;
  text-align: center;
  
}


#fav-btn {
  height: 10px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  height: 10px;
  width: 10px;
  background-color: black;
  position: relative;
  outline: none;
  transform: rotate(45deg);
  -webkit-appearance: none;
}

input[type="checkbox"]:before {
  position: absolute;
  content: "";
  background-color: black;
  height: 60%;
  width: 100%;
  top: -59%;
  border-radius: 75px 75px 0 0;
  outline-color: black;
  outline: 5px;
}

input[type="checkbox"]:after {
  position: absolute;
  content: "";
  background-color: black;
  height: 60%;
  width: 100%;
  transform: rotate(-90deg);
  border-radius: 75px 75px 0 0;
  top: 20%;
  right: 79%;
}

input[type="checkbox"]:checked,
input:checked[type="checkbox"]:before,
input:checked[type="checkbox"]:after {
  background-color: red;
}
