body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

#profile-container {
  display: flex;
  margin: 10px;
}


#profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}



#main-section {
  display: flex;
  flex: wrap;
  justify-content: center;
}

.card-img-top {
  width: 20px;
  height: 20px;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#card {
  margin: 10px;
  flex-basis: 30%;
}

#bio-img {

  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 10px;
}

.followers-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 14px;
}

.pack-img {
  width: 40px;
  height: 40px;
}

.nav-item {
  display: flex;
  justify-content: center;
}

footer {
  position: relative;
  margin-top: 50px;
  bottom: 0;
   width: 100%;
   background-color: rgb(62, 151, 210);
   color: black;
   text-align: center;

}

#footer {  
  margin-top: 20px;
  width: 100%;
  color: black;
  text-align: center;
  
}

#form-container {
  margin: 10px;
}

#create {
  margin: 5px;
}

nav {
  display: flex;
  justify-content: center;
}
